#root {
  display: inline-grid;
  grid-template: repeat(4, 100px) / repeat(4, 100px);
  grid-gap: 10px;
  background: #333;
  color: #bbb;
}
#root div {
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty {
  background: #999;
}